@model string
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container body-content" style="text-align:center">
        <img src="../img/error/error.png" />
        <h3>An error occurred while processing your request. @Model</h3>
    </div>

</body>
</html>
