@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Botanicka 68a<br />
    Brno, Kr.Pole<br />
    <abbr title="Phone">P:</abbr>
    +420777434645
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:edo.srol@gmail.com">edo.srol@gmail.com</a>
</address>