@model string

@{
    ViewBag.Title = "Home";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                <span>Blood <br>Donor App</span> <br>
                                care about people.
                            </h3>
                            <p>
                                Blood donations can help save people's lives.<br>
                                Learn how blood donations help, what to expect,<br>
                                and how to get ready for your first blood donation.
                            </p>
                            <a href="/Applicant/Index" class="boxed-btn3">I want to help</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                <span>Health care</span> <br>
                                for whole family
                            </h3>
                            <p>
                                In healthcare sector, service excellence is the facility of <br> the hospital as
                                healthcare service provider to consistently.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                <span>Join us <br>today.</span> <br>
                            </h3>
                            <p>
                                Each day, ill and injured people need donated blood.<br>
                                A single bag of blood helps several patients,<br>
                                so a donor can help many people in one go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<hr />
<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>How to help?</h3>
                    <p>Your blood donation is an amazing gift to people who need it in an emergency or for on-going medical treatment. </p>
                    @if (!Request.IsAuthenticated)
                    {
                        <a href="/Account/Register" class="boxed-btn3-white">Register</a>
                    }
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Call center</h3>
                    <p>Whether you have a question or are not sure about whether you can give blood, we’re happy to hear from you.</p>
                    <div class="boxed-btn3-white" style="pointer-events:none">+421 943 320 453</div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Ready to donate?</h3>
                    <p>15 permanent blood donation venues situated in towns and cities across Slovakia, all ready for you.</p>
                    <a href="/SampleStation/Index" class="boxed-btn3-white">See Sample Stations</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->
<hr />
<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/img/about/welcome_blood_donation.jpeg" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="~/img/about/welcome_blood_donatio2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to Blood Donor App</h2>
                    <h3>
                        Ready to help <br>
                        people in need
                    </h3>
                    <p>
                        Esteem spirit temper too say adieus who direct esteem.
                        It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.
                    </p>
                    <ul>
                        <li> <i class="flaticon-right"></i> We deliver blood donation to people you choose. </li>
                        <li> <i class="flaticon-right"></i> You can see information of your blood donations. </li>
                    </ul>
                    <a href="#contact-info" class="boxed-btn3">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->
<hr />
<!-- testmonial_area_start -->
<div class="testmonial_area" id="testimonial-section">
    <div class="testmonial_active owl-carousel">
        <div class="single-testmonial testmonial_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>"When the third of my three consecutive bone marrow transplants worked, I didn't know who was happier, me or the nearly 80 people who came into the UCLA BloodPlatelet Center and donated blood and platelets for me. Almost daily, for the entire three months that I was a patient at UCLA my friends, my family came into the donor center to donate."</p>
                            <div class="testmonial_author">
                                <h4>Cheryl</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>"I often talk to people about giving blood, the system is brilliant, the staff are wonderful and it costs you hardly anything in time and energy. After I gave blood once and thought about how essential it is that people like me carry on donating, I realised that there was no good reason to stop. As long as I am healthy, I will carry on giving blood." </p>
                            <div class="testmonial_author">
                                <h4>Barry</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testmonial_area_end -->
<script>

</script>